.page-footer{
    margin-top: 160px;

  position: fixed;
    height: 50px;
    background-color: red;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
	}
	.pb-4, .py-4 {
		 padding-bottom: 0rem!important;
		 padding-top: 1rem!important;
}