<nav class="navbar  navbar-expand-lg navbar-light bg-light " style=" color:#F7F9FB!important;
   background-color:#31708e!important">
   <a  style=" color:#F7F9FB!important;" class="navbar-brand" href="#">Annotex</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
   </button>
   
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav ml-auto">
         <li class="nav-item active">
           <a class="nav-link" routerLink="/home" style="color:#8FC1E3">Home <span class="sr-only">(current)</span></a>
         </li>
       
    
        
       </ul>
     </div>
   </nav>

<!-- Footer -->
<router-outlet></router-outlet>

<footer class="page-footer  " style="    padding-bottom: 10px;font-size:16px;background-color:#e0e0e0;color:grey;">
   <!-- Copyright -->
   <div class="footer-copyright text-center py-4" style="font-size:13px!important;">
      AI Legal Assistant
      <!--<a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>-->
   </div>
   <!-- Copyright -->
</footer>